## Complete python playlist by krish naik

In [2]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Python Basics

## mathematical executions

In [2]:
1+2

3

In [4]:
a=10
a

10

In [6]:
print(a+5)

15

In [15]:
#single line commentmultiline comment
'''
My name is channel and i a data scientist
I am learning it
'''
print('chanchal')

chanchal

In [17]:
#variable declaration and checking type with type function
a=10
print(type(a))
b='chanchal'
print(type(b))
c=False
print(type(c))
d=1.5
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [20]:
#variable name rules
'''
1. Variable name can't start with number
2.Best syntax first_name
3.Variable name can't start with underscore
'''
print('variable Rules')

variable Rules

In [26]:
# type casting
# int to float
a=1
print(type(a))
a=float(a)
print(type(a))
#int to Boolean
a=0
print(type(a))
a=bool(a)
print(type(a))
a=1
print(type(a))
a=bool(a)
print(type(a))
a=23
print(type(a))
a=str(a)
print(type(a))
# Reverse is also possible

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>

In [27]:
#logical operation
#and operator True only if both operands true
a=True
b=False
c=a and b
print(c)
a=True
b=True
c=a and b
print(c)
a=False
b=True
c= a and b
print(c)
a=False
b=False
c=a and b
print(c)

False
True
False
False

In [28]:
#OR operator 
#True if any or both are True
a=True
b=False
c=a or b
print(c)
a=True
b=True
c=a or b
print(c)
a=False
b=True
c= a or b
print(c)
a=False
b=False
c=a or b
print(c)

True
True
True
False

In [31]:
#concatenation
first_name='chanchal'
last_name='narang'
fullname=first_name+last_name
print(fullname)
fullname_error_resolved=first_name+'1'
print(fullname_error_resolved)

fullname_with_error=first_name+1
#Error because string will concatenate only with string

chanchalnarang
chanchal1

TypeError: can only concatenate str (not "int") to str

In [33]:
# string formatting
first_name="Chanchal"
last_name="Narang"
print("First name is {} and last name is {}".format(first_name,last_name))

First name is Chanchal and last name is Narang

In [35]:
#input type
Name=input('Enter the name:')
Name
#output is always a string
#for addition
num1=int(input('Enter num1:'))
num2=int(input('Enter num2:'))
result=num1+num2
print(result)

Enter the name: Chanchal
Enter num1: 34
Enter num2: 1

35