## Lists

* lists are
  1. Mutable/Changeable
  2. Ordered Sequence
  3. List defined between [ ]
  4. Can have values of different Datatype
  
 **Each element or value that is inside of a list called item**

In [196]:
list1=[]
type(list1)

list

In [197]:
list2=list()
type(list2)

list

In [198]:
#Entering list values
list1=['Chemistry',99,'Biology',100]
list1

['Chemistry', 99, 'Biology', 100]

In [199]:
#length of list using len() function
len(list1)

4

In [200]:
## append () to add element
list1.append('maths')

In [201]:
list1

['Chemistry', 99, 'Biology', 100, 'maths']

In [202]:
#indexing it starts with 0 to get 99 we will do as following
list1[1] # returns value as index1

99

In [203]:
#list1[startindex:endindex] reults value at at start index to endindex-1
list1[:] # return complete list start to end

['Chemistry', 99, 'Biology', 100, 'maths']

In [204]:
list1[0:2] #returns values from index 0 to 1

['Chemistry', 99]

In [205]:
#insert method ,insert value at specified index
list1.insert(1,'psychology')
list1
list1[2]=200
list1

['Chemistry', 'psychology', 200, 'Biology', 100, 'maths']

In [206]:
#nested list
list1.append([1,2,3])
list1

['Chemistry', 'psychology', 200, 'Biology', 100, 'maths', [1, 2, 3]]

In [207]:
#extend method
list1.extend([4,5,6])
list1

['Chemistry', 'psychology', 200, 'Biology', 100, 'maths', [1, 2, 3], 4, 5, 6]

In [208]:
#summation of all integer list elements
num_list=[1,4,6,8]
sum(num_list)

19

In [209]:
# pop() with no value remove last element,pop with specific value remove value at given index
#if you save it any variables you will get popped elements
list1.pop()
list1

['Chemistry', 'psychology', 200, 'Biology', 100, 'maths', [1, 2, 3], 4, 5]

In [210]:
list1.pop(1)
list1

['Chemistry', 200, 'Biology', 100, 'maths', [1, 2, 3], 4, 5]

In [211]:
# you can save it element removed in  variables as follows
popped_element=list1.pop()
print(popped_element)
popped_element=list1.pop(1)
print(popped_element)

5
200

In [212]:
#count:count occurrence of an element
list2=[1,2,2,3,4,4,4,5]
print(list2.count(2))
print(list2.count(4))

2
3

In [213]:
#index():returns the index of first occurence of element
list2.index(4)

4

In [214]:
list2.index(2)

1

In [215]:
#min and Max values
min(list2)

1

In [216]:
max(list2)

5

In [217]:
list3=[1,2,3]
list4=list3*2  #return list with original list items 2 times
list5=list3*3  #return list with original list items 3 times
list4

[1, 2, 3, 1, 2, 3]

In [218]:
list5

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Sets

* Sets are
  1. Mutable/Changeable
  2. UnOrdered Sequence
  3. Set defined between {}
  4. Contains unique elements
  5. Doesn't support indexing

In [219]:
#new set
set1=set()
set1={1,2,3,3,4}
set1

{1, 2, 3, 4}

In [220]:
#Set functions (add,clear,difference,difference_update,intersection,intersection_update)
#add function
set1.add('chanchal')
set1

{1, 2, 3, 4, 'chanchal'}

In [221]:
#clear function (removes all elements of set
set1.clear()
set1

set()

In [222]:
set1={1,2,3,4,5,6}
set2={45,67,1,2,3}

In [223]:
#Difference will remove common elements
print('result of difference:',set1.difference(set2)) #returns set1 after removing common element from set1
print('set1:',set1,'set2:',set2)
#set1 and set2 remauns unchanged
set1.difference_update(set2) # this will update set1 with the resulting set and set2 remains unchanged
print('set1:',set1,'set2:',set2)

result of difference: {4, 5, 6}
set1: {1, 2, 3, 4, 5, 6} set2: {1, 2, 67, 3, 45}
set1: {4, 5, 6} set2: {1, 2, 67, 3, 45}

In [224]:
set1={1,2,3,4,5,6}
set2={45,67,1,2,3}
#intersection will remove uncommon elements
print('result of intersection:',set1.intersection(set2)) #return set removing uncommon elements
print('set1:',set1,'set2:',set2)
set1.intersection_update(set2) # this will update set1 with the resulting set and set2 remains unchanged
print('set1:',set1,'set2:',set2)

result of intersection: {1, 2, 3}
set1: {1, 2, 3, 4, 5, 6} set2: {1, 2, 67, 3, 45}
set1: {1, 2, 3} set2: {1, 2, 67, 3, 45}

* Dictionaries are
  1. Key-value pairs
  2. Mutable/Changeable
  3. UnOrdered Sequence
  4. Set defined between {}
  5. Indexed
  6. type of dictionary id dict
     
**Keys must be unique otherwise it will overwrite existing key**

In [225]:
dic=dict() #create empty dictionary
dic

{}

In [226]:
dic={'k1':'v1','k2':'v2','k3':'v3'}
dic

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [227]:
#elements can be accessed using key names
dic['k1']

'v1'

In [228]:
#methods of dictionaries 
print(dic.items())
print(dic.values())
print(dic.keys())

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])
dict_values(['v1', 'v2', 'v3'])
dict_keys(['k1', 'k2', 'k3'])

In [229]:
#for loop can be used
for key,value in dic.items():
    print(value)

v1
v2
v3

In [230]:
# to add new key value pair either nested dictionary or normal value
#nested dictionary addition and access 
dic['k4']={'name':'ch','school':'RPS'}
dic

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3', 'k4': {'name': 'ch', 'school': 'RPS'}}

In [231]:
dic['k4']['school']

'RPS'

In [232]:
#new key pair addition and access
dic['k6']='v6'
dic

{'k1': 'v1',
 'k2': 'v2',
 'k3': 'v3',
 'k4': {'name': 'ch', 'school': 'RPS'},
 'k6': 'v6'}

In [233]:
dic['k6']

'v6'

* tuples are
  1. notMutable/ can not be Changed once assigned
  3. assignment not supported ,whole tuple value can be changed not item
  4. Set defined between ()
  5. Indexed
  6. Can have different datatypes

In [234]:
tup1=tuple() #empty tuple
tup1
tup2=('k1','v1','z1',22)
tup2

('k1', 'v1', 'z1', 22)

In [235]:
#tuple accessing element
tup2[0]

'k1'

In [236]:
#assignment not supported so below code will give error
tup2[3]=89 #assignment not supported can not change item
tup2

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup2=(1,2,2,3,4) #this is possible whole tuple can be changed in one go
tup2

In [ ]:
#functions
#count() counts number of items
tup2.count(2)

In [ ]:
#index() method of first occurrence of element
tup2.index(2)